html, body{
    background-color: black;
    width: 1200px;
    margin: 0 auto;
    border-radius: 30px;


}

.contenedor{
    background-color: rgb(244, 237, 237);
    border: 2px solid aqua;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.47);
}


#messages{
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
}

.contenedorChat{
    width: 600px;
    /* background-color: blue; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}



.titulo{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.tituloChat{
    text-align: center;
    font-size: 25px;
    margin-top: 80px;
}

.productosingreso{
    width: fit-content;
    margin: 0 auto;
}

.verProductos{
    width: fit-content;
    margin: 0 auto;
  
}

.textoChatContenedor{
    width: 400px;
}


.textoChat{
    color: green;
    text-decoration: none;
    font-style: normal;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}


.productosContenedor{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
}
.productosContenedor p{
    margin-right: 10px;
}
.productosContenedor img{
    border-radius: 5px;
}

.login {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    margin-bottom: 60px;
}

.titulo{
    text-align: center;
    /* margin-bottom: 5rem; */
}

.bienvenido{
    font-size: 2rem;
}